.searchDiv{
    display: flex;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid rgba(84, 95, 125, 0.15)    
}
.searchInput{
    flex: 1;
}
.searchIconDiv{
    padding: 10px 20px;
    background: rgba(57, 205, 204, 1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor:pointer;
}  
.menuItems{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
}
.flex-center{
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: flex-start;
}    

.css-1aquho2-MuiTabs-indicator{
    background-color: #39CDCC !important;
}