html{
  height:auto;
}
body {
  margin: 0;
  height: auto;
  font-family: Avenir Next;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Avenir Next
}
#root{
  height : auto
}